<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <!-- todo: 加上連結 -->
      <a class="nav-item">
        <%= link_to 'Lowcal Lowcal', root_path, class:'nav-item' %>        
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <!--  todo: 加上連結 -->
      <%= link_to '看看菜色', meals_path, class:'nav-item is-tab' %>
      <a class="nav-item is-tab">訂餐囉</a>
      <a class="nav-item is-tab">帳戶管理</a>
    </div>
  </div>
</nav>